.about {
    /* margin-top: 0%; */
    /* padding: 260px 0 100px 0; */
    /* background-image: url('../assets/img/minimalist-hern.png'); */
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* Magic here */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #F0F0F0;
}

/* top header */
.about h1 {

    color: #3b3c36;
    padding: 8px 10px;
    font-size: 45px;
    margin-bottom: 1px;
    text-align: center;

}

.image-background {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: red;
    /* change this to the color you want */

}

.image-background::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 5), rgba(255, 255, 255, 0));
    transform: skew(-10deg);
}

.image-container {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
}

.hernImg {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

/* about me content */
.about .resumeBtn {
    background-color: #3b3c36;
    color: #F0F0F0;
    border-radius: 30px 30px 30px 30px;
    border-width: 1px;
    border-style: solid;
    padding: 5px 40px;
    align-items: flex-end;
    position: relative;
    font-size: 18px;
    outline: 10px;
    /* padding: 5px; */
    /* width: 100%; */
    margin-left: 5px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

/* about me body */
.about .list-group-item {
    background-color: #F0F0F0;
    font-size: 18px;

}

/* resume button */
.about .resumeBtn:hover {
    background-color: #F0F0F0;
    color: #3b3c36;
}

/* email button */
.about .email {
    color: #3b3c36;
    background-color: transparent;
    text-decoration: none;
}

.about .email:hover {
    color: #3b3c36;
    background-color: transparent;
    text-decoration: underline;
}

/* social icons */
.about .social-icon {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.about .social-icon a {
    color: #3b3c36;
    margin: 0 10px;
}

.about .social-icon a:hover {
    color: #96988d;
}


/* for mobile not ready yet */
@media screen and (max-width: 767px) {

    .about {
        height: 105vh;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-color: #F0F0F0;
    }

    .about .hernImg {
        max-width: 100%;
        height: auto;
    }


    .about .social-icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .about .social-icon a {
        padding: 10px;
    }

}