.banner {
    height: 100vh;
}

.banner .photo {
    max-width: 100%;
    height: auto;
}

.bannerImg {
    display: flex;
    align-items: center;
}

.banner h1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    color: #3b3c36;
}

.header-text {
    /* text-align: center; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* height: 100vh; */

}

/* type writer text */
.banner .Typewriter {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #3b3c36;

}

.text-block {
    height: 100px;
}

/* down arrow button */
.banner .dropBtn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    animation: updown 1.5s linear infinite;
    color: #3b3c36 !important;
}

.Btn-Pos {
    text-align: center;
    display: flex;
    align-items: center;
}

@keyframes updown {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-30px);
    }

    50% {
        transform: scale(1, 1) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-7px);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@media screen and (max-width:940px) {
    .banner {
        height: auto;
    }

    .banner .dropBtn {
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        animation: updown 1.5s linear infinite;
        color: #3b3c36 !important;
    }

    @keyframes updown {
        0% {
            transform: scale(1, 1) translateY(0);
        }

        10% {
            transform: scale(1.1, .9) translateY(0);
        }

        30% {
            transform: scale(.9, 1.1) translateY(50px);
        }

        50% {
            transform: scale(1, 1) translateY(0);
        }

        57% {
            transform: scale(1, 1) translateY(-7px);
        }

        64% {
            transform: scale(1, 1) translateY(0);
        }

        100% {
            transform: scale(1, 1) translateY(0);
        }
    }
}