.Education {
    padding: 80px 0;
    position: relative;
    background-color: #474d5a;
    text-align: center;
    color: #F0F0F0;
}

.Education .title {
    padding: 0px 0px 40px 0px;
    color: #F0F0F0;
}

.containerSchool {
    text-align: left;
}

.courses {
    text-align: left;
}