.Education {
    padding: 100px 0;
    position: relative;
    background-color: #474d5a;
    text-align: center;
    color: #F0F0F0;
}

h1 {
    font-size: 45px !important;
    /* font-weight: 500 !important; */
}

.Education .title {
    padding: 0px 0px 20px 0px;
    color: #F0F0F0;

}

.containerSchool {
    text-align: left;
}

.courses {
    text-align: left;
}

.eduList {
    font-size: 18px;
}

.subTitle {
    font-size: 20px;
}



/* for mobile not done yet */
@media screen and (max-width:940px) {
    .Education {
        padding: 60px 10px;
        position: relative;
        background-color: #474d5a;
        text-align: center;
        color: #F0F0F0;
    }

    .csumb-logo {
        padding-bottom: 10px;
    }
}