.Footer {
    margin-top: 10px;
    padding: 10px;
    background-color: #EEEBDF;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.Contact {
    padding: 10px 0px 10px 0px;

}

.Contact a {
    color: #3b3c36;
    padding: 0px 10px 0px 10px;
    /* width: 42px; */
    /* height: 42px; */
    display: inline-block;
    border-radius: 50%;
}